<%- include('partials/header') %>
<br><br><br><br><br><br><br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= name.name %></h5>
      <p class="card-text">Age: <%= name.age %></p>
      <p class="card-text">City: <%= name.city %></p>
    </div>
  </div>

<%- include('partials/footer') %>